<!DOCTYPE html>
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Vidhya Periyasamy</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Content-type:text/html;charset=utf-8">
    <link href="/static/css/app.css" media="all" rel="stylesheet">
    <link href="/static/css/home.css" media="print" rel="stylesheet">
 </head>
  <body class="site-controller aws-action">
    <div class="site-container js-site-container">
	
	  <div class="jumbotron cloud-animation">
	  	<div class="container" style="bottom:0px">
		    <img alt="Cloud 1" class="cloud cloud-1" src="/static/img/cloud-1.png" width="300">
		    <img alt="Cloud 2" class="cloud cloud-2" src="/static/img/cloud-2.png" width="347">
		    <img alt="Cloud 3" class="cloud cloud-3" src="/static/img/cloud-3.png" width="470">
		    <img alt="Cloud 4" class="cloud cloud-4" src="/static/img/cloud-4.png" width="762">
		    <img alt="Cloud 5" class="cloud cloud-5" src="/static/img/cloud-5.png" width="589">
		    <img alt="Cloud 6" class="cloud cloud-6" src="/static/img/cloud-6.png" width="857">
		    <img alt="Cloud 3" class="cloud cloud-7" src="/static/img/cloud-7.png" width="470">
			<div class="copy">
				<h1> Vidhya Periyasamy </h1>
			</div>
			<div class="copy" id="bubble" style="background-image: url(/static/img/vidhu.jpg); background-repeat: no-repeat; background-position: center;">
			
			</div>
			
	   	</div>
	  </div><!-- /.jumbotron -->

		
   </div>
<script src="/static/js/jquery-1.8.3.js"></script>
<script src="/static/js/d3.min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/d3_home.js"></script>

</body>
</html>
